/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
magic-2017-12-18-107.180.51.37
.DS_Store
*.sql
.DS_Store
